//
//  APIKEYs.xcconfig
//  Walk
//
//  Created by 진욱의 Macintosh on 2/8/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//서울시 공공데이터 API키
SEOUL_OPEN_API_KEY = 796e4a744d6a303933396f6a66684a
//구글맵 API 키
GOOGLE_MAP_API_KEY = AIzaSyCxLcAruHTrD8p7NPdPY3tvwZrF2SmmguE
